/*
    ------------------------
    ------ Animations ------
    ------------------------
*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
.shape--hero object {
  -webkit-animation: spin 12s infinite linear;
          animation: spin 12s infinite linear;
}

.hero__image-container object {
  -webkit-animation: float 3s infinite ease-in-out;
          animation: float 3s infinite ease-in-out;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/*
    ------------------------
    ------- Mixins ---------
    ------------------------
*/
/*
    ------------------------
    ------ Utilities -------
    ------------------------
*/
@media screen and (max-width: 1023px) {
  .hide-for-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 1024px) {
  .hide-for-desktop {
    display: none !important;
  }
}

.show-mobile-menu {
  right: 0 !important;
}

/*
    ------------------------
    ------- Resets ---------
    ------------------------
*/
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

img,
object {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
  background: none;
  font-family: inherit;
  cursor: pointer;
}

input,
textarea {
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
}

address {
  font-style: normal;
}

/*
    ------------------------
    ------- Spacing --------
    ------------------------
*/
:root {
  --space-0: 0rem;
  --space-0-x: 0.25rem;
  --space-0-xx: 0.5rem;
  --space-0-xxx: 0.75rem;
  --space-1: 1rem;
  --space-1-x: 1.25rem;
  --space-1-xx: 1.5rem;
  --space-1-xxx: 1.75rem;
  --space-2: 2rem;
  --space-2-x: 2.25rem;
  --space-2-xx: 2.5rem;
  --space-2-xxx: 2.75rem;
  --space-3: 3rem;
  --space-3-x: 3.25rem;
  --space-3-xx: 3.5rem;
  --space-3-xxx: 3.75rem;
  --space-4: 4rem;
  --space-4-x: 4.25rem;
  --space-4-xx: 4.5rem;
  --space-4-xxx: 4.75rem;
  --space-5: 5rem;
  --space-5-x: 5.25rem;
  --space-5-xx: 5.5rem;
  --space-5-xxx: 5.75rem;
  --space-6: 6rem;
  --space-6-x: 6.25rem;
  --space-6-xx: 6.5rem;
  --space-6-xxx: 6.75rem;
  --space-7: 7rem;
  --space-7-x: 7.25rem;
  --space-7-xx: 7.5rem;
  --space-7-xxx: 7.75rem;
  --space-8: 8rem;
  --space-8-x: 8.25rem;
  --space-8-xx: 8.5rem;
  --space-8-xxx: 8.75rem;
  --space-9: 9rem;
  --space-9-x: 9.25rem;
  --space-9-xx: 9.5rem;
  --space-9-xxx: 9.75rem;
}

/*
    ------------------------
    ------- Colors ---------
    ------------------------
*/
.text-gray {
  color: rgba(38, 39, 41, 0.7);
}

.text-orange {
  color: #FF8B00;
}

.text-dim-white {
  color: rgba(255, 255, 255, 0.7);
}

/*
    ------------------------
    ------- Variables ------
    ------------------------
*/
:root {
  /* Buttons */
  --button-border-radius: var(--space-0-xx);
  --button-border-width: 1px;
  /* Border Radius */
  --border-radius-menu: 5px;
  /* Header height */
  --header-height: var(--space-2);
  /* Z Index */
  --z-back: -1;
  --z-normal:  1;
  --z-tooltip:  10;
  --z-fixed:  100;
  --z-modal:  1000;
  /* Box Shadow */
  --bxs-menu: 0 20px 40px rgba(0, 0, 0, .2434);
  --bxs-quote: 0 10px 30px rgba(0, 0, 0, .08);
  --bxs-card: 0 10px 30px rgba(0, 0, 0, .08);
  --bxs-image: 0  8px 25px rgba(0, 0, 0, .25);
  --bxs-line: 0  5px 94px rgba(91, 176, 224, .4);
  --bxs-btn: 0 15px 25px -10px rgba(255, 153, 0, .54);
}

/*
    ------------------------
    ------ Typography ------
    ------------------------
*/
/* Google Fonts */
:root {
  /* Font Family */
  --ff-primary: 'Rubik', sans-serif;
  /* Font Weight */
  --fw-reg: 400;
  --fw-med: 500;
  --fw-bold: 700;
  /* Font Size */
  --fs-h1: 2.25rem;
  --fs-h2: 1.125rem;
  --fs-h3: 2rem;
  --fs-h4: 1.25rem;
  --fs-base: .9375rem;
  --fs-sm: .875rem;
  --fs-md: 1.125rem;
  --fs-lg: 2rem;
  /* Line height */
  --lh-h1: 2.8125rem;
  --lh-h2: auto;
  --lh-h3: 2.1875rem;
  --lh-h4: auto;
  --lh-base: 1.625rem;
  --lh-sm: auto;
  --lh-md: 2rem;
  --lh-btn: 1.75rem;
}

/* Tablet & Desktop */
@media screen and (min-width: 640px) {
  :root {
    /* Font Size */
    --fs-h1: 4rem;
    --fs-h2: 1.5rem;
    --fs-h3: 3.25rem;
    --fs-h4: 1.5rem;
    /* Line height */
    --lh-h1: 4.3125rem;
    --lh-h2: auto;
    --lh-h3: 3.875rem;
  }
}

body {
  font-family: var(--ff-primary);
}

.heading {
  font-weight: var(--fw-bold);
}

.heading--1 {
  font-size: var(--fs-h1);
  line-height: var(--lh-h1);
}

.heading--2 {
  font-size: var(--fs-h2);
  line-height: var(--lh-h2);
}

.heading--3 {
  font-size: var(--fs-h3);
  line-height: var(--lh-h3);
}

.heading--bottom-line-orange, .heading--bottom-line-blue, .heading--bottom-line-white {
  position: relative;
  margin-bottom: var(--space-2) !important;
}

.heading--bottom-line-orange::before, .heading--bottom-line-blue::before, .heading--bottom-line-white::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(100% + var(--space-1));
  left: 0;
  right: 0;
  width: 95px;
  height: 2px;
  background-color: #FF8B00;
  margin: 0 auto;
}

@media screen and (min-width: 640px) {
  .heading--bottom-line-orange::before, .heading--bottom-line-white::before {
    margin: initial;
  }
}

.heading--bottom-line-blue::before {
  background-color: #5BB0E0;
}

.heading--bottom-line-white::before {
  background-color: #FFF;
}

.paragraph {
  font-size: var(--fs-base);
  line-height: var(--lh-base);
}

.btn {
  font-weight: var(--fw-med);
}

.header .nav__item,
.footer .nav__item {
  font-weight: var(--fw-med);
}

.header .nav__item:hover a,
.footer .nav__item:hover a {
  color: #FF8B00;
}

.proposal__number {
  font-size: 1.6rem;
}

.footer .brand__logo span {
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
}

.footer .brand .copyright {
  font-weight: var(--fw-med);
}

.footer .social__item {
  font-weight: var(--fw-med);
}

.footer .social__item:hover a {
  color: #FF8B00;
}

/*
    ------------------------
    -------- Icons ---------
    ------------------------
*/
.bx-menu, .bx-target-lock {
  font-size: 2rem;
}

.bxs-layer, .bxs-book {
  font-size: 1.8rem;
}

.bxs-phone, .bxs-envelope {
  font-size: 1.4rem;
}

.bxl-instagram, .bxl-linkedin-square, .bxl-twitter {
  font-size: 1.8rem;
}

/*
    ------------------------
    ------- Buttons --------
    ------------------------
*/
.btn {
  display: inline-block;
  padding: calc(var(--space-1) * .875) var(--space-2-xxx);
  border-radius: var(--button-border-radius);
  -webkit-transition: .125s ease-in all;
  transition: .125s ease-in all;
}

.btn--primary {
  background-color: #FF8B00;
  color: #FFF;
  -webkit-box-shadow: var(--bxs-btn);
          box-shadow: var(--bxs-btn);
}

.btn--primary:hover, .btn--primary:focus {
  background-color: #FFF;
  color: #FF8B00;
}

.btn--secondary {
  background-color: #FFF;
  color: #FF8B00;
}

.btn--secondary:hover, .btn--secondary:focus {
  background-color: #FFEED5;
  color: #FF8B00;
}

/*
    ------------------------
    -------- Form ----------
    ------------------------
*/
.form [type="text"],
.form [type="password"],
.form [type="email"],
.form textarea {
  padding: var(--space-0-x) var(--space-0-xx);
  background-color: #FFF;
  color: #333950;
  border-radius: .25rem;
  width: 100%;
}

.form [type="text"]:focus,
.form [type="password"]:focus,
.form [type="email"]:focus,
.form textarea:focus {
  -webkit-box-shadow: 0 0 3px #11272B;
          box-shadow: 0 0 3px #11272B;
}

.form > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 640px) {
  .form {
    max-width: 33.75rem;
    /* Reset Bottom Margins */
    /* Grid Properties */
    display: -ms-grid;
    display: grid;
        grid-template-areas: "title title" "name email" "subject subject" "message message" "btn status";
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .form > *:not(:last-child) {
    margin-bottom: initial;
  }
  .form .heading--3 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: title;
  }
  .form__control--name {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: name;
  }
  .form__control--email {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: email;
  }
  .form__control--subject {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: subject;
  }
  .form__control--text {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: message;
  }
  .form__status {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    grid-area: status;
  }
  .form .btn {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: btn;
    width: 70%;
  }
}

/*
    ------------------------
    ------ Proposal --------
    ------------------------
*/
.proposal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: var(--space-1-xx);
  border-radius: 12px;
  -webkit-transition: .125s ease-in all;
  transition: .125s ease-in all;
}

.proposal:hover {
  -webkit-box-shadow: var(--bxs-card);
          box-shadow: var(--bxs-card);
  background-color: #5BB0E0;
  color: #FFF;
}

.proposal__number {
  display: inline-block;
  background-color: #D5E8FF;
  color: #5BB0E0;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-right: var(--space-1-x);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.proposal__text-container .heading {
  margin-bottom: var(--space-0-xx);
}

@media screen and (min-width: 748px) {
  .proposal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 340px;
  }
  .proposal__number {
    margin-bottom: var(--space-2-x);
  }
}

/*
    ------------------------
    -------- Quote ---------
    ------------------------
*/
.quote {
  position: relative;
  padding: var(--space-4-x) var(--space-2) var(--space-1);
  -webkit-box-shadow: var(--bxs-quote);
          box-shadow: var(--bxs-quote);
  border-radius: 15px;
}

.quote::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: var(--space-2);
  width: 67px;
  height: 56px;
  background: url(../../../assets/images/shape-quotes.svg) center top/cover no-repeat;
}

.quote blockquote {
  margin-bottom: var(--space-1);
}

.quote figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.quote__avatar {
  max-width: 50px;
  margin-right: var(--space-1);
}

.sponsors__list {
  max-width: 165px;
  margin: 0 auto;
}

.sponsors__list > *:not(:last-child) {
  margin-bottom: var(--space-2-xx);
}

.sponsors__item {
  margin: 0 auto;
}

.sponsors__item--ideas, .sponsors__item--mercantil {
  max-width: 81px;
}

@media screen and (min-width: 640px) {
  .sponsors__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: initial;
  }
  .sponsors__list > *:not(:last-child) {
    margin-bottom: initial;
  }
  .sponsors__item--ucab {
    max-width: 165px;
  }
}

/*
    ------------------------
    --------- Card ---------
    ------------------------
*/
.card {
  padding: var(--space-2);
  -webkit-box-shadow: var(--bxs-card);
          box-shadow: var(--bxs-card);
  border-radius: 12px;
  -webkit-transition: .125s ease-in all;
  transition: .125s ease-in all;
  background-color: #FFF;
}

.card:hover {
  background-color: #FF8B00;
  color: #FFF;
}

.card:hover .heading--bottom-line-orange::before {
  background-color: #FFF;
}

.card__icon {
  width: 64px;
  height: 64px;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: var(--space-2);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  background-color: #FFEED5;
  color: #FF8B00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card__text {
  text-align: center;
}

.card__text .heading {
  margin-bottom: var(--space-1-xx);
}

@media screen and (min-width: 640px) {
  .card__icon {
    margin-left: initial;
    margin-right: initial;
  }
  .card__text {
    text-align: initial;
  }
}

/*
    ------------------------
    --------- Shape --------
    ------------------------
*/
.shape {
  position: absolute;
}

.shape--hero {
  width: 100%;
  height: 100%;
}

.shape--hero object svg {
  width: 874px;
}

.shape--dots-blue, .shape--dots-orange {
  width: 145px;
}

.shape--circle-gray, .shape--circle-white {
  width: 400px;
}

@media screen and (min-width: 1024px) {
  .shape--hero {
    width: 1134px;
  }
  .shape--dots-blue, .shape--dots-orange {
    width: 180px;
  }
  .shape--circle-gray, .shape--circle-white {
    width: 712px;
  }
}

/*
    ------------------------
    ------- Wrapper --------
    ------------------------
*/
.wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 var(--space-1-xx);
  display: inherit;
  -ms-grid-columns: inherit;
      grid-template-columns: inherit;
  -ms-grid-rows: inherit;
      grid-template-rows: inherit;
      grid-template-areas: inherit;
  grid-row: 1/-1;
  grid-column: 1/-1;
  gap: inherit;
  -webkit-column-gap: inherit;
          column-gap: inherit;
  row-gap: inherit;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  /* Tablet */
  /* Desktop */
}

@media screen and (min-width: 640px) {
  .wrapper {
    padding: 0 var(--space-2-xx);
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    max-width: 1140px;
  }
}

@media screen and (min-width: 1460px) {
  .wrapper {
    max-width: 1320px;
  }
}

/*
    ------------------------
    -------- Header --------
    ------------------------
*/
.header {
  position: relative;
  z-index: var(--z-fixed);
  background-color: transparent;
  color: #333950;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}

.header .nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .nav__logo img {
  max-width: 2rem;
  margin-right: var(--space-1);
}

.header .nav__logo span {
  font-size: 1.125rem;
  font-weight: var(--fw-bold);
}

@media screen and (max-width: 1023px) {
  .header .nav__list {
    position: fixed;
    top: var(--header-height);
    right: -80%;
    width: 80%;
    height: 100%;
    background-color: #11272B;
    color: #FFF;
    padding: 2rem;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }
  .header .nav__list > *:not(:last-child) {
    margin-bottom: var(--space-1-x);
  }
}

.header .nav__item {
  padding: var(--space-xxxs) var(--space-xs);
  border-radius: var(--space-xxxs);
  text-align: center;
  line-height: 1;
}

.header .nav__item:hover {
  color: var(--color-primary);
}

@media screen and (min-width: 640px) {
  .header .nav__logo img {
    max-width: 3rem;
  }
  .header .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header .nav__item:not(:last-of-type) {
    margin-right: 1.5rem;
  }
}

/*
    ------------------------
    ------- Footer ---------
    ------------------------
*/
.footer {
  background-color: #11272B;
  color: #FFF;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: var(--space-3-xxx) 0;
}

.footer .brand {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.footer .brand__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .brand__logo img {
  max-width: 2.2rem;
  margin-right: var(--space-0-xx);
}

.footer .nav__list:first-of-type {
  margin-bottom: var(--space-1);
}

.footer .nav__list > *:not(:last-child) {
  margin-bottom: var(--space-1);
}

.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: var(--space-3-xx) 0;
}

.footer .social > *:not(:last-child) {
  margin-right: var(--space-1);
}

@media screen and (min-width: 640px) {
  .footer {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "nav social" "brand brand";
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: var(--space-2);
  }
  .footer .nav,
  .footer .social {
    padding: 0 var(--space-2-xx);
  }
  .footer .brand {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: brand;
  }
  .footer .social {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: social;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer .nav {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: nav;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
        grid-template-areas: "brand nav social";
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    text-align: initial;
  }
  .footer .brand__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer .brand__logo img {
    max-width: 3rem;
  }
  .footer .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/*
    ------------------------
    --------- Hero ---------
    ------------------------
*/
.hero {
  background-color: #FFF;
  color: #333950;
  padding-bottom: var(--space-2-xx);
}

.hero__text-container {
  max-width: 528px;
  text-align: center;
  margin-bottom: var(--space-1);
  position: relative;
  z-index: var(--z-tooltip);
}

.hero__text-container > *:not(:last-child) {
  margin-bottom: var(--space-1);
}

.hero__image-container {
  position: relative;
  z-index: var(--z-tooltip);
}

@media screen and (min-width: 640px) {
  .hero__text-container {
    text-align: initial;
    margin-bottom: initial;
  }
  .hero__image-container {
    max-width: 420px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: var(--space-3-x) 0;
  }
  .hero__image-container {
    max-width: 563px;
  }
}

/*
    ------------------------
    ------ Sponsors --------
    ------------------------
*/
.sponsors {
  position: relative;
  background-color: #FAFAFA;
  padding: var(--space-2-xx) 0;
}

/*
    ------------------------
    -------- About ---------
    ------------------------
*/
.about {
  position: relative;
  overflow: hidden;
  background-color: #FFF;
  color: #333950;
  padding: var(--space-2-xx) 0;
}

.about__image-container {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: var(--space-2-xxx);
}

.about__text-container {
  text-align: center;
  margin-bottom: var(--space-5);
}

.about__text-container > *:not(:last-child) {
  margin-bottom: var(--space-1-x);
}

.about__list {
  position: relative;
  z-index: var(--z-normal);
}

.about__list > *:not(:last-child) {
  margin-bottom: var(--space-2);
}

.about__item {
  max-width: 331px;
  margin: 0 auto;
}

@media screen and (min-width: 640px) {
  .about__image-container {
    max-width: 497px;
    margin: initial;
    margin-left: auto;
    margin-bottom: var(--space-3-x);
  }
  .about__text-container {
    text-align: initial;
    max-width: 434px;
  }
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -12px 0 0 -12px;
    width: calc(100% + 12px);
  }
  .about__list > *:not(:last-child) {
    margin-bottom: initial;
  }
  .about__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 12px 0 0 12px;
  }
}

@media screen and (min-width: 1024px) {
  .about {
    padding: var(--space-5-xx) 0;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "img text" "list list";
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: var(--space-4);
            column-gap: var(--space-4);
    row-gap: var(--space-6-xx);
  }
  .about__image-container {
    max-width: 556px;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: img;
    margin: initial;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about__text-container {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: text;
    margin-bottom: initial;
  }
  .about__list {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: list;
  }
}

@media screen and (min-width: 1460px) {
  .about__list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .about__item {
    max-width: 380px;
  }
}

/*
    ------------------------
    ----- Proposals --------
    ------------------------
*/
.proposals {
  background-color: rgba(213, 232, 255, 0.1);
  color: #333950;
  padding: var(--space-4-x) 0;
}

.proposals__text-container {
  text-align: center;
  margin: 0 auto;
  margin-bottom: var(--space-4-xxx);
}

.proposals__list > *:not(:last-child) {
  margin-bottom: var(--space-3-xx);
}

.proposals__item {
  position: relative;
  max-width: 350px;
}

@media screen and (max-width: 747px) {
  .proposals__item:not(:last-of-type)::before {
    content: '';
    display: block;
    z-index: var(--z-back);
    background-color: #5BB0E0;
    position: absolute;
    width: 10px;
    height: 130%;
    top: 24px;
    left: 46px;
  }
}

@media screen and (min-width: 748px) {
  .proposals {
    position: relative;
  }
  .proposals__text-container {
    max-width: 513px;
  }
  .proposals__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -56px 0 0 0;
    width: calc(100% + 12px);
  }
  .proposals__list > *:not(:last-child) {
    margin-bottom: initial;
  }
  .proposals__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: var(--space-3-xx) 0 0 0;
    position: relative;
    z-index: 1;
  }
  .proposals__item:first-of-type::before, .proposals__item:first-of-type::after {
    content: '';
    display: block;
    position: absolute;
    background-color: #5BB0E0;
    -webkit-box-shadow: var(--bxs-line);
            box-shadow: var(--bxs-line);
    z-index: -1;
    height: 10px;
  }
  .proposals__item:first-of-type::before {
    top: 44px;
    left: -1000%;
    width: 1000%;
  }
  .proposals__item:first-of-type::after {
    top: 44px;
    left: 0;
    width: 120%;
  }
  .proposals__item:last-of-type::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #5BB0E0;
    -webkit-box-shadow: var(--bxs-line);
            box-shadow: var(--bxs-line);
    z-index: -1;
    height: 10px;
    top: 44px;
    left: -1000%;
    width: 1020%;
  }
}

@media screen and (min-width: 1100px) {
  .proposals {
    padding: var(--space-5-xx) 0;
  }
  .proposals__item:nth-of-type(2) {
    position: relative;
  }
  .proposals__item:nth-of-type(2)::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #5BB0E0;
    -webkit-box-shadow: var(--bxs-line);
            box-shadow: var(--bxs-line);
    z-index: -1;
    height: 10px;
    top: 44px;
    left: 0;
    width: 120%;
  }
  .proposals__item:last-of-type::before {
    display: none;
  }
}

/*
    ------------------------
    --------- Team ---------
    ------------------------
*/
.team {
  position: relative;
  overflow: hidden;
  background-color: #FFF;
  color: #333950;
  padding: var(--space-2-xx) 0;
}

.team__image-container {
  position: relative;
  z-index: var(--z-normal);
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: var(--space-2-xxx);
}

.team__text-container {
  text-align: center;
  margin-bottom: var(--space-2-xxx);
}

.team__text-container > *:not(:last-child) {
  margin-bottom: var(--space-1-x);
}

.team__text-container .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.team__text-container .social__item {
  color: rgba(38, 39, 41, 0.7);
}

.team__text-container .social__item:hover {
  color: #FF8B00;
}

.team__text-container .social > *:not(:last-child) {
  margin-right: var(--space-0-xx);
}

.team__quote-list > *:not(:last-child) {
  margin-bottom: var(--space-1-xx);
}

.team__quote-item {
  max-width: 333px;
  margin: 0 auto;
}

@media screen and (min-width: 640px) {
  .team__image-container {
    max-width: 488px;
    margin: initial;
    margin-left: auto;
    margin-bottom: var(--space-1-xxx);
  }
  .team__text-container {
    text-align: initial;
    max-width: 436px;
    margin-bottom: var(--space-2-xxx);
  }
  .team__text-container > *:not(:last-child) {
    margin-bottom: var(--space-1-x);
  }
  .team__quote-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -14px 0 0 -14px;
    width: calc(100% + 12px);
  }
  .team__quote-list > *:not(:last-child) {
    margin-bottom: initial;
  }
  .team__quote-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 14px 0 0 14px;
  }
  .team .social {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  .team {
    padding: var(--space-5-xx) 0;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "text img" "list list";
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: var(--space-4);
            column-gap: var(--space-4);
    row-gap: var(--space-6-xx);
  }
  .team__image-container {
    max-width: 563px;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: img;
    margin: initial;
    margin-left: auto;
  }
  .team__text-container {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: text;
    margin: auto 0;
  }
  .team__quote-list {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: list;
    /* justify-content: space-between; */
  }
  .team__quote-item {
    max-width: 340px;
    -webkit-transition: .25s ease-out transform;
    transition: .25s ease-out transform;
  }
  .team__quote-item:hover {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@media screen and (min-width: 1024px) and (min-width: 1460px) {
  .team__quote-item {
    max-width: 400px;
  }
}

/*
    ------------------------
    ------- Contact --------
    ------------------------
*/
.contact {
  position: relative;
  padding-top: var(--space-5-xxx);
  background-color: #FAFAFA;
  color: #333950;
}

.contact::after {
  content: '';
  position: absolute;
  display: block;
}

.contact::after {
  width: 100%;
  height: 6rem;
  bottom: 0;
  left: 0;
  background-color: #11272B;
}

.contact__card {
  position: relative;
  z-index: var(--z-normal);
  background-color: #FF8B00;
  color: #FFF;
  border-radius: 15px;
  padding: var(--space-2) var(--space-1-xx);
}

.contact__text-container {
  text-align: center;
  margin-bottom: var(--space-1-xx);
}

.contact__text-container .heading--2 {
  margin-bottom: var(--space-1);
}

.contact__text-container .heading--3 {
  margin-bottom: var(--space-2);
}

.contact__address-container {
  margin-bottom: var(--space-2);
}

.contact__address-container > *:not(:last-child) {
  margin-bottom: var(--space-1-xx);
}

.contact__phone, .contact__email {
  text-align: center;
}

.contact__phone > :not(:last-child), .contact__email > :not(:last-child) {
  margin-bottom: var(--space-0-xx);
}

.contact__icon {
  background-color: #FFEED5;
  color: #FF8B00;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (min-width: 640px) {
  .contact__card {
    padding: var(--space-3-xxx) var(--space-4-xx);
  }
  .contact__text-container {
    text-align: initial;
    max-width: 471px;
    margin-bottom: var(--space-1-xx);
  }
  .contact__text-container .heading--2 {
    margin-bottom: var(--space-1);
  }
  .contact__text-container .heading--3 {
    margin-bottom: var(--space-2);
  }
  .contact__address-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }
  .contact__address-container > *:not(:last-child) {
    margin-bottom: initial;
    margin-right: var(--space-2-xx);
  }
  .contact__phone, .contact__email {
    text-align: initial;
  }
  .contact__phone > :not(:last-child), .contact__email > :not(:last-child) {
    margin-bottom: init;
  }
  .contact__icon {
    margin: initial;
  }
}

@media screen and (min-width: 1024px) {
  .contact__card {
    overflow: hidden;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "text form" "address form";
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: var(--space-2);
            column-gap: var(--space-2);
  }
  .contact__card::before {
    width: 712px;
    height: 712px;
    right: initial;
    left: -100px;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
  .contact__text-container {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: text;
  }
  .contact__address-container {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: address;
  }
  .contact form {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: form;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

/*
    ------------------------
    ----- Attributions -----
    ------------------------
*/
.attributions {
  background-color: #173840;
  color: #FFF;
  padding: var(--space-2) 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.attributions p a {
  text-decoration: underline;
}

/*
    ------------------------
    --------- Home ---------
    ------------------------
*/
.header {
  margin-top: var(--space-3);
}

.main {
  overflow-x: hidden;
}

.main--home section.hero {
  margin-top: var(--space-4-xx);
}

.main--home section.hero .shape--hero {
  top: -100px;
  left: -200px;
}

.main--home section.hero .shape--dots-blue {
  bottom: 0;
  right: 0;
}

.main--home section.sponsors {
  position: relative;
}

.main--home section.sponsors .shape--dots-blue {
  top: -82px;
  right: 0;
}

.main--home section.about {
  position: relative;
}

.main--home section.about .shape--dots-blue {
  top: 0;
  left: 0;
}

.main--home section.about .shape--circle-gray {
  bottom: -100px;
  right: -200px;
}

.main--home section.proposals {
  position: relative;
}

.main--home section.proposals .shape--dots-orange {
  top: 0;
  right: 0;
}

.main--home section.proposals .shape--circle-gray {
  top: 450px;
  left: -162px;
}

.main--home section.team {
  position: relative;
}

.main--home section.team .shape--circle-gray {
  top: -100px;
  right: -162px;
}

.main--home section.contact {
  position: relative;
}

.main--home section.contact .shape--dots-blue {
  top: 0;
  left: 0;
}

.main--home section.contact .contact__card .shape--circle-white {
  position: absolute;
  z-index: var(--z-back);
  top: 50px;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 640px) {
  .main--home section.about .shape--circle-gray {
    bottom: 700px;
  }
  .main--home section.proposals .shape--circle-gray {
    top: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .main--home section.hero {
    margin-top: initial;
  }
  .main--home section.hero .shape--hero {
    top: -300px;
    left: -419px;
  }
  .main--home section.hero .shape--dots-blue {
    bottom: 0;
    right: 0;
  }
  .main--home section.about {
    position: relative;
  }
  .main--home section.about .shape--dots-blue {
    top: 0;
    left: 0;
  }
  .main--home section.about .shape--circle-gray {
    bottom: -300px;
    right: -200px;
  }
  .main--home section.proposals {
    position: relative;
  }
  .main--home section.proposals .shape--dots-orange {
    top: 0;
    right: 0;
  }
  .main--home section.proposals .shape--circle-gray {
    top: 0;
    bottom: 0;
    left: -162px;
    margin: auto 0;
  }
  .main--home section.team {
    position: relative;
  }
  .main--home section.team .shape--circle-gray {
    top: -300px;
    right: -162px;
  }
  .main--home section.contact .shape--dots-blue {
    top: 0;
    left: 0;
  }
  .main--home section.contact .contact__card .shape--circle-white {
    top: 50px;
    left: -162px;
  }
}
/*# sourceMappingURL=main.css.map */