/*
    ------------------------
    ------- Colors ---------
    ------------------------
*/

:root{

    --orange: #FF8B00;
    --dim-orange: #FFEED5;
    --very-dim-orange: rgba(255, 153, 0, .54);
    --blue: #5BB0E0;
    --dim-blue: #D5E8FF;
    --ghost-blue: rgba(213, 232, 255, .1);
    --very-dim-blue: rgba(91, 176, 224, .4);
    // /* --cerulean-carola: #16ABD3;
    // --tiffany-blue: #07BEB8; */
    // --dark-state-gray: #254441;
    --cultured: #FAFAFA;
    --white: #FFF;
    --space-cadet: #333950;
    --dark-jungle-green: #11272B;
    // --non-photo-blue: #9CDCED;
}


$backgroundColors:(
    "white"         : var(--white),
    "gray"          : var(--cultured),
    "blue"          : var(--ghost-blue),
    "green"         : var(--dark-jungle-green),
    "btn-primary"   : var(--orange),
    "btn-secondary" : var(--white),
);

$buttonColors : (
    "background" : var(--orange),
    "text"       : var(--white),
    "shadow"     : var(--dim-orange)
);

$textColors : (
    "dark"          : var(--space-cadet),
    "light"         : var(--white),
    "orange"        : var(--orange),
    "blue"          : var(--blue),
    "btn-primary"   : var(--white),
    "btn-secondary" : var(--orange)
);

@mixin bgColor($name) {
    background-color: map-get($map: $backgroundColors, $key: $name);
}

@mixin textColor($name) {
    color: map-get($map: $textColors, $key: $name);
}