/*
    ------------------------
    ------- Colors ---------
    ------------------------
*/

$orange: #FF8B00;
$dim-orange: #FFEED5;
$very-dim-orange: rgba(255, 153, 0, .54);
$blue: #5BB0E0;
$dim-blue: #D5E8FF;
$ghost-blue: rgba(213, 232, 255, .1);
$very-dim-blue: rgba(91, 176, 224, .4);
$cultured: #FAFAFA;
$white: #FFF;
$dim-white: rgba(255, 255, 255, .7);
$space-cadet: #333950;
$dark-jungle-green: #11272B;
$dark-green: #173840;
$gray: rgba(38, 39, 41, .7);

$colors : (
    btn-primary : (
        background : $orange,
        text : $white,
    ),
    btn-secondary : (
        background : $white,
        text : $orange,
    ),
    btn-primary-hover : (
        background : $white,
        text : $orange,
    ),
    btn-secondary-hover : (
        background : $dim-orange,
        text : $orange,
    ),
    card-hover : (
        background : $orange,
        text : $white,
    ),
    proposal-hover : (
        background : $blue,
        text : $white,
    ),
    form-input : (
        background : $white,
        text : $gray,
    ),
    icon-orange : (
        background : $dim-orange,
        text : $orange,
    ),
    icon-blue : (
        background : $dim-blue,
        text : $blue,
    ),
    contact-card : (
        background : $orange,
        text : $white,
    ),
    theme-light : (
        background: $white,
        text: $space-cadet,
    ),
    section-hero : (
        background: $white,
        text: $space-cadet,
    ),
    section-sponsors : (
        background: $cultured,
        text: $space-cadet,
    ),
    section-about : (
        background: $white,
        text: $space-cadet,
    ),
    section-proposal : (
        background: $ghost-blue,
        text: $space-cadet,
    ),
    section-team : (
        background: $cultured,
        text: $space-cadet,
    ),
    section-contact : (
        background: $cultured,
        text: $space-cadet,
    ),
    header : (
        background: transparent,
        text: $space-cadet,
    ),
    footer : (
        background: $dark-jungle-green,
        text: $white
    ),
    attributions : (
        background: $dark-green,
        text: $white
    ),
);

@function setTextColor($component) {
    $textColor : map-get($map: map-get($map: $colors, $key: $component), $key: text);
    @return $textColor;
}

@function setBackgroundColor($component) {
    $backgroundColor : map-get($map: map-get($map: $colors, $key: $component), $key: background);
    @return $backgroundColor;
}

.text-gray{
    color: $gray;
}

.text-orange{
    color: $orange;
}

.text-dim-white{
    color: $dim-white;
}