/*
    ------------------------
    ------- Resets ---------
    ------------------------
*/

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
}

img,
object{
    display: block;
    max-width: 100%;
    height: auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    outline: none;
    border: none;
    background: none;
    font-family: inherit;
    cursor: pointer;
}

input,
textarea{
    border: none;
    font-family: inherit;
}

address{
    font-style: normal;
}