/*
    ------------------------
    ------ Typography ------
    ------------------------
*/

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root{

    /* Font Family */
    --ff-primary: 'Rubik', sans-serif;

    /* Font Weight */
    --fw-reg: 400;
    --fw-med: 500;
    --fw-bold: 700;

    /* Font Size */
    --fs-h1: 2.25rem;
    --fs-h2: 1.125rem;
    --fs-h3: 2rem;
    --fs-h4: 1.25rem;
    --fs-base: .9375rem;
    --fs-sm: .875rem;
    --fs-md: 1.125rem;
    --fs-lg: 2rem;

    /* Line height */
    --lh-h1: 2.8125rem;
    --lh-h2: auto;
    --lh-h3: 2.1875rem;
    --lh-h4: auto;
    --lh-base: 1.625rem;
    --lh-sm: auto;
    --lh-md: 2rem;
    --lh-btn: 1.75rem;

}

/* Tablet & Desktop */

:root{
    @include breakpoint-up(medium){
        /* Font Size */
        --fs-h1: 4rem;
        --fs-h2: 1.5rem;
        --fs-h3: 3.25rem;
        --fs-h4: 1.5rem;

        /* Line height */
        --lh-h1: 4.3125rem;
        --lh-h2: auto;
        --lh-h3: 3.875rem;
    }
}

body{
    font-family: var(--ff-primary);
}

.heading{
    font-weight: var(--fw-bold);

    &--1{
        font-size: var(--fs-h1);
        line-height: var(--lh-h1);
    }
    &--2{
        font-size: var(--fs-h2);
        line-height: var(--lh-h2);
    }
    &--3{
        font-size: var(--fs-h3);
        line-height: var(--lh-h3);
    }

    &--bottom-line-orange,
    &--bottom-line-blue,
    &--bottom-line-white{
        position: relative;
        margin-bottom: var(--space-2) !important;

        &::before{
            content: '';
            display: block;
            position: absolute;
            top: calc(100% + var(--space-1));
            left: 0;
            right: 0;
            width: 95px;
            height: 2px;
            background-color: $orange;
            margin: 0 auto;
        }
    }
    &--bottom-line-blue{
        &::before{
            background-color: $blue;
        }
    }
    &--bottom-line-white{
        &::before{
            background-color: $white;
        }
    }
}

.paragraph{
    font-size: var(--fs-base);
    line-height: var(--lh-base);
}

.btn{
    font-weight: var(--fw-med);
}

.proposal{
    &__number{
        font-size: 1.6rem;
    }
}

.footer{

    .nav{
        &__item{
            font-weight: var(--fw-med);
        }
    }
    .brand{
        &__logo{
            span{
                font-size: var(--fs-md);
                font-weight: var(--fw-bold);
            }
        }

        .copyright{
            font-weight: var(--fw-med);
        }
    }
}