/*
    ------------------------
    ------- Buttons --------
    ------------------------
*/

.btn{
    display: inline-block;
    padding: calc(var(--space-1) * .875) var(--space-2-xxx);
    border-radius: var(--button-border-radius);

    &--primary{
        @include bgColor(btn-primary);
        @include textColor(btn-primary);
        box-shadow: var(--bxs-btn);

        &:hover,
        &:focus{
            background-color: var(--color-bg-cta-hover);
            color: var(--color-text-white);
        }
    }

    &--secondary{
        @include bgColor(btn-secondary);
        @include textColor(btn-secondary);

        &:hover,
        &:focus{
            background-color: var(--color-bg-cta-hover);
            color: var(--color-text-white);
        }
    }

}