/*
    ------------------------
    ------- Buttons --------
    ------------------------
*/

.btn{
    display: inline-block;
    padding: calc(var(--space-1) * .875) var(--space-2-xxx);
    border-radius: var(--button-border-radius);
    transition: .125s ease-in all;

    &--primary{
        background-color: setBackgroundColor(btn-primary);
        color: setTextColor(btn-primary);
        box-shadow: var(--bxs-btn);

        &:hover,
        &:focus{
            background-color: setBackgroundColor(btn-primary-hover);
            color: setTextColor(btn-primary-hover);
        }
    }

    &--secondary{
        background-color: setBackgroundColor(btn-secondary);
        color: setTextColor(btn-secondary);

        &:hover,
        &:focus{
            background-color: setBackgroundColor(btn-secondary-hover);
            color: setTextColor(btn-secondary-hover);
        }
    }

}