/*
    ------------------------
    -------- Icons ---------
    ------------------------
*/

.bx{
    &-menu,
    &-target-lock{
        font-size: 2rem;
    }
}

.bxs{
    &-layer,
    &-book{
        font-size: 1.8rem;
    }

    &-phone,
    &-envelope{
        font-size: 1.4rem;
    }
}