/*
    ------------------------
    --------- Shape --------
    ------------------------
*/

.shape{
    position: absolute;

    &--hero{
        width: 100%;
        height: 100%;

        object{
            svg{
                width: 874px;
            }
        }
    }

    &--dots-blue,
    &--dots-orange{
        width: 145px;
    }

    &--circle-gray,
        &--circle-white{
            width: 400px;
        }

    @include breakpoint-up(large){
        &--hero{
            width: 1134px;
        }
    
        &--dots-blue,
        &--dots-orange{
            width: 180px;
        }
    
        &--circle-gray,
        &--circle-white{
            width: 712px;
        }
    }
}