.sponsors{
    &__list{
        max-width: 165px;
        margin: 0 auto;

        > *:not(:last-child){
            margin-bottom: var(--space-2-xx);
        }
    }

    &__item{
        margin: 0 auto;
        &--ideas,
        &--mercantil{
            max-width: 81px;
        }
    }

    @include breakpoint-up(medium){
        
        &__list{
            @include flex(sb, c, row);
            max-width: initial;

            > *:not(:last-child){
                margin-bottom: initial;
            }
        }

        &__item{
            &--ucab{
                max-width: 165px;
            }
        }
    }
}