/*
    ------------------------
    --------- Home ---------
    ------------------------
*/

.header{
    margin-top: var(--space-3);
}

.main{
    overflow-x: hidden;

    &--home{
        section.hero{
            margin-top: var(--space-4-xx);

            .shape--hero{
                top: -300px;
                left: -369px;
            }

            .shape--dots-blue{
                bottom: 0;
                right: 0;
            }
        }

        section.about{
            .shape--dots-blue{
                top: 0;
                left: 0;
            }

            .shape--circle-gray{
                bottom: -300px;
                right: -200px;
            }
        }

        section.proposals{
            .shape--dots-orange{
                top: 0;
                right: 0;
            }

            .shape--circle-gray{
                top: 0;
                bottom: 0;
                left: -162px;
                margin: auto 0;
            }
        }

        section.team{

            .shape--circle-gray{
                top: -300px;
                right: -162px;
            }
        }

        section.contact{
            .shape--dots-blue{
                top: 0;
                left: 0;
            }

            .contact__card{
                .shape--circle-white{
                    top: 50px;
                    left: -162px;
                }
            }
        }
    }

    @include breakpoint-up(large){
        &--home{
            section.hero{
                margin-top: initial;
            }
        }
    }
}