/*
    ------------------------
    --------- Home ---------
    ------------------------
*/

.header{
    margin-top: var(--space-3);
}

.main{
    overflow-x: hidden;

    &--home{
        section.hero{
            margin-top: var(--space-4-xx);
        }
    }

    @include breakpoint-up(large){
        &--home{
            section.hero{
                margin-top: initial;
            }
        }
    }
}