/*
    ------------------------
    -------- About ---------
    ------------------------
*/

.about{
    position: relative;
    z-index: var(--z-back);
    background-color: setBackgroundColor(section-about);
    color: setTextColor(section-about);
    padding: var(--space-2-xx) 0;

    &::before,
    &::after{
        content: '';
        position: absolute;
        display: block;
    }

    &::before{
        top: 0;
        left: 0;
        z-index: var(--z-back);
        width: 145px;
        height: 65px;
        @include background-image('../../../assets/images/shape-dots-blue.svg', center top, cover)
    }

    &__image-container{
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: var(--space-2-xxx);
    }

    &__text-container{
        text-align: center;
        margin-bottom: var(--space-5);

        > *:not(:last-child){
            margin-bottom: var(--space-1-x);
        }
    }

    &__list{
        > *:not(:last-child){
            margin-bottom: var(--space-2);
        }
    }

    &__item{
        max-width: 331px;
        margin: 0 auto;
    }

    // Media Queries

    @include breakpoint-up(medium){
        
        &__image-container{
            max-width: 497px;
            margin: initial;
            margin-left: auto;
            margin-bottom: var(--space-3-x);
        }

        &__text-container{
            text-align: initial;
            max-width: 434px;
        }

        &__list{
            @include flex(c, c, row);
            flex-wrap: wrap;
            margin: -12px 0 0 -12px;
            width: calc(100% + 12px);

            > *:not(:last-child){
                margin-bottom: initial;
            }
        }

        &__item{
            flex: 1 1 auto;
            margin: 12px 0 0 12px;

        }
    }

    @include breakpoint-up(large){
        padding: var(--space-3-x) 0;
        display: grid;
        grid-template-areas: "img text"
                             "list list";
        grid-template-columns: repeat(2, 1fr);
        column-gap: var(--space-4);
        row-gap: var(--space-6-xx);

        &__image-container{
            max-width: 563px;
            grid-area: img;
            margin: initial;
            margin-right: auto;
        }

        &__text-container{
            grid-area: text;
        }

        &__list{
            grid-area: list;
        }
    }
}