/*
    ------------------------
    ----- Attributions -----
    ------------------------
*/

.attributions{
    background-color: setBackgroundColor(attributions);
    color: setTextColor(attributions);
    padding: var(--space-2) 0;
    @include flex(c, c, column);

    p{
        a{
            text-decoration: underline;
        }
    }
}