/*
    ------------------------
    ------- Contact --------
    ------------------------
*/

.contact{
    position: relative;
    padding-top: var(--space-5-xxx);
    background-color: setBackgroundColor(section-contact);
    color: setTextColor(section-contact);

    &::before,
    &::after{
        content: '';
        position: absolute;
        display: block;
    }

    &::before{
        top: 0;
        left: 0;
        width: 145px;
        height: 65px;
        @include background-image('../../../assets/images/shape-dots-blue.svg', center top, cover)
    }

    &::after{
        width: 100%;
        height: 6rem;
        bottom: 0;
        left: 0;
        background-color: $dark-jungle-green;
    }
    
    &__card{
        position: relative;
        z-index: var(--z-normal);
        background-color: setBackgroundColor(contact-card);
        color: setTextColor(contact-card);
        border-radius: 15px;
        padding: var(--space-2) var(--space-1-xx);

        &::before{
            content: '';
            display: block;
            position: absolute;
            z-index: var(--z-back);
            top: 50px;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 100%;
            height: 720px;
            @include background-image('../../../assets/images/shape-circle-white.svg', center top, cover);
        }
    }

    &__text-container{
        text-align: center;
        margin-bottom: var(--space-1-xx);
        .heading--2{
            margin-bottom: var(--space-1);
        }
        .heading--3{
            margin-bottom: var(--space-2);
        }
    }

    &__address-container{
        margin-bottom: var(--space-2);

        >*:not(:last-child){
            margin-bottom: var(--space-1-xx);
        }
    }

    &__phone,
    &__email{
        text-align: center;
        >:not(:last-child){
            margin-bottom: var(--space-0-xx);
        }
    }

    &__icon{
        background-color: setBackgroundColor(icon-orange);
        color: setTextColor(icon-orange);
        width: 47px;
        height: 47px;
        border-radius: 50%;
        margin: 0 auto;
        @include flex(c, c, row);
    }

    // Media Queries

    @include breakpoint-up(medium){

        &__card{
            padding: var(--space-3-xxx) var(--space-4-xx);
        }

        &__text-container{
            text-align: initial;
            max-width: 471px;
            margin-bottom: var(--space-1-xx);
            .heading--2{
                margin-bottom: var(--space-1);
            }
            .heading--3{
                margin-bottom: var(--space-2);
            }
        }

        &__address-container{
            @include flex(fs, c, row);
            text-align: left;
    
            >*:not(:last-child){
                margin-bottom: initial;
                margin-right: var(--space-2-xx);
            }
        }

        &__phone,
        &__email{
            text-align: initial;
            >:not(:last-child){
                margin-bottom: init;
            }
        }

        &__icon{
            margin: initial;
        }
    }

    @include breakpoint-up(large){
        
        &__card{
            overflow: hidden;
            display: grid;
            grid-template-areas: "text form"
                                 "address form";
            grid-template-columns: repeat(2, 1fr);
            column-gap: var(--space-2);

            &::before{
                width: 712px;
                height: 712px;
                right: initial;
                left: -100px;
                top: 0;
                bottom: 0;
                margin: auto 0;
            }
        }

        &__text-container{
            grid-area: text;
        }

        &__address-container{
            grid-area: address;
        }

        form{
            grid-area: form;
            align-self: center;
        }
    }
}