/*
    ------------------------
    ------- Footer ---------
    ------------------------
*/

.footer{
    background-color: setBackgroundColor(footer);
    color: setTextColor(footer);
    text-align: center;
    @include flex(c, c, column);
    padding: var(--space-3-xxx) 0;

    .brand{
        order: 3;
        &__logo{
            @include flex(c, c, row);

            img{
                max-width: 2.2rem;
                margin-right: var(--space-0-xx);
            }
        }
    }

    .nav{
        &__list{
            &:first-of-type{
                margin-bottom: var(--space-1);
            }
            > *:not(:last-child){
                margin-bottom: var(--space-1);
            }
        }
    }

    .social{
        @include flex(c, c, row);
        margin: var(--space-3-xx) 0;

        > *:not(:last-child){
            margin-right: var(--space-1);
        }
    }

    // Media Queries

    @include breakpoint-up(medium){

        display: grid;
        grid-template-areas: "nav social"
                             "brand brand";
        grid-template-columns: repeat(2, 1fr);
        row-gap: var(--space-2);

        .nav,
        .social{
            padding: 0 var(--space-2-xx);
        }
        

        .brand{
            grid-area: brand;
        }

        .social{
            grid-area: social;
            @include flex(fe, c, row);
        }

        .nav{
            grid-area: nav;
            text-align: left;
        }
    }

    @include breakpoint-up(large){
        grid-template-areas: "brand nav social";
        grid-template-columns: repeat(3, 1fr);
        text-align: initial;

        .brand{
            &__logo{
                @include flex(fs, c, row);
            }
        }

        .nav{
            &__list{
                @include flex(st, fs, column);
            }
        }
    }
}