/*
    ------------------------
    -------- Header --------
    ------------------------
*/

.header{
    // height: var(--header-height);
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    // z-index: var(--z-fixed);
    // box-shadow: var(--bxs-header);
    @include bgColor(header);

    .nav{
        @include flex(sb, c, row);
        height: 100%;

        &__logo{
            @include flex(fs, c, row);
            img{
                max-width: 2rem;
            }
            span{
                font-size: 1.125rem;
                font-weight: var(--fw-bold);
            }
        }
    
        @include breakpoint-down(small){
    
            &__list{
                position: fixed;
                top: var(--header-height);
                right: -80%;
                width: 80%;
                height: 100%;
                background-color: var(--color-dark);
                color: var(--color-white);
                padding: 2rem;
                transition: all .25s ease-out;
            }
        }

        &__item{
            padding: var(--space-xxxs) var(--space-xs);
            border-radius: var(--space-xxxs);
            text-align: center;
            line-height: 1;

            &:hover{
                color: var(--color-primary);
            }
        }
    }

    // Media Queries

    @include breakpoint-up(medium){

        .nav{
            &__list{
                @include flex(sb, c, row);
            }

            &__item{
                &:not(:last-of-type){
                    margin-right: 1.5rem;
                }
            }
        }
    }
}