/*
    ------------------------
    -------- Header --------
    ------------------------
*/

.header{
    position: relative;
    z-index: var(--z-fixed);
    background-color: setBackgroundColor(header);
    color: setTextColor(header);

    .nav{
        @include flex(sb, c, row);
        height: 100%;

        &__logo{
            @include flex(fs, c, row);
            img{
                max-width: 2rem;
                margin-right: var(--space-1);
            }
            span{
                font-size: 1.125rem;
                font-weight: var(--fw-bold);
            }
        }
    
        @include breakpoint-down(medium){
    
            &__list{
                position: fixed;
                top: var(--header-height);
                right: -80%;
                width: 80%;
                height: 100%;
                background-color: setBackgroundColor(header-mobile);
                color: setTextColor(header-mobile);
                backdrop-filter: blur(5px);
                padding: 2rem;
                transition: all .25s ease-out;

                > *:not(:last-child){
                    margin-bottom: var(--space-1-x);
                }
            }
        }

        &__item{
            padding: var(--space-xxxs) var(--space-xs);
            border-radius: var(--space-xxxs);
            text-align: center;
            line-height: 1;

            &:hover{
                color: var(--color-primary);
            }
        }
    }

    // Media Queries

    @include breakpoint-up(medium){

        .nav{

            &__logo{
                img{
                    max-width: 3rem;
                }
            }
            &__list{
                @include flex(sb, c, row);
            }

            &__item{
                &:not(:last-of-type){
                    margin-right: 1.5rem;
                }
            }
        }
    }
}