/*
    ------------------------
    --------- Hero ---------
    ------------------------
*/

.hero{
    background-color: setBackgroundColor(section-hero);
    color: setTextColor(section-hero);
    padding-bottom: var(--space-2-xx);

    &__text-container{
        max-width: 528px;
        text-align: center;
        margin-bottom: var(--space-1);
        position: relative;
        z-index: var(--z-tooltip);

        > *:not(:last-child){
            margin-bottom: var(--space-1);
        }
    }

    &__image-container{
        position: relative;
        z-index: var(--z-tooltip);
    }
    
    // Media Queries

    @include breakpoint-up(medium){

        &__text-container{
            text-align: initial;
            margin-bottom: initial;
        }

        &__image-container{
            max-width: 420px;
            margin-left: auto;
        }
    }

    @include breakpoint-up(large){
        @include flex(sb, c, row);
        padding: var(--space-3-x) 0;

        &__image-container{
            max-width: 563px;
        }
    }
}