/*
    ------------------------
    ------ Sponsors --------
    ------------------------
*/

.sponsors{
    &__list{
        max-width: 165px;
        margin: 0 auto;

        > *:not(:last-child){
            margin-bottom: var(--space-2-xx);
        }
    }
}