/*
    ------------------------
    ------ Sponsors --------
    ------------------------
*/

.sponsors{
    position: relative;
    background-color: setBackgroundColor(section-sponsors);
    padding: var(--space-2-xx) 0;
}