/*
    ------------------------
    --------- Team ---------
    ------------------------
*/

.team{
    position: relative;
    overflow: hidden;
    background-color: setBackgroundColor(section-about);
    color: setTextColor(section-about);
    padding: var(--space-2-xx) 0;

    &::before,
    &::after{
        content: '';
        position: absolute;
        display: block;
    }

    &::before{
        top: 0;
        left: 0;
        width: 145px;
        height: 65px;
        @include background-image('../../../assets/images/shape-dots-blue.svg', center top, cover)
    }

    &__image-container{
        position: relative;
        z-index: var(--z-normal);
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: var(--space-2-xxx);
    }

    &__text-container{
        text-align: center;
        margin-bottom: var(--space-2-xxx);

        > *:not(:last-child){
            margin-bottom: var(--space-1-x);
        }
    }

    &__quote-list{
        > *:not(:last-child){
            margin-bottom: var(--space-1-xx);
        }
    }

    &__quote-item{
        max-width: 333px;
        margin: 0 auto;
    }

    // Media Queries

    @include breakpoint-up(medium){
        position: relative;

        &::after{
            top: 0;
            bottom: 0;
            margin: auto 0;
            right: -40%;
            width: 712px;
            height: 712px;
            @include background-image('../../../assets/images/shape-circle-gray.svg', center top, cover);
        }

        &__image-container{
            max-width: 488px;
            margin: initial;
            margin-left: auto;
            margin-bottom: var(--space-1-xxx);
        }

        &__text-container{
            text-align: initial;
            max-width: 436px;
            margin-bottom: var(--space-2-xxx);
    
            > *:not(:last-child){
                margin-bottom: var(--space-1-x);
            }
        }

        &__quote-list{
            @include flex(c, c, row);
            flex-wrap: wrap;
            margin: -14px 0 0 -14px;
            width: calc(100% + 12px);

            > *:not(:last-child){
                margin-bottom: initial;
            }
        }

        &__quote-item{
            flex: 1 1 auto;
            margin: 14px 0 0 14px;
        }
    }

    @include breakpoint-up(large){
        padding: var(--space-5-xx) 0;
        display: grid;
        grid-template-areas: "text img"
                             "list list";
        grid-template-columns: repeat(2, 1fr);
        column-gap: var(--space-4);
        row-gap: var(--space-6-xx);

        &::after{
            top: -300px;
            right: -300px;
            bottom: initial;
            margin: initial;
        }

        &__image-container{
            max-width: 563px;
            grid-area: img;
            margin: initial;
            margin-left: auto;
        }

        &__text-container{
            grid-area: text;
            margin: auto 0;
        }

        &__quote-list{
            grid-area: list;
        }

        &__quote-item{
            max-width: 400px;
        }
    }
}