/*
    ------------------------
    ------- Wrapper --------
    ------------------------
*/

.wrapper{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 var(--space-1-xx);

    display: inherit;
    grid-template-columns: inherit;
    grid-template-rows: inherit;
    grid-template-areas: inherit;
    grid-row: 1/-1;
    grid-column: 1/-1;
    gap: inherit;
    column-gap: inherit;
    row-gap: inherit;
    justify-content: inherit;
    align-items: inherit;
    flex-direction: inherit;

    /* Tablet */
    @include breakpoint-up(medium){
        padding: 0 var(--space-2-xx);
    }

    /* Desktop */
    @include breakpoint-up(large){
        max-width: 1140px;
    }

    @include breakpoint-up(xlarge){
        max-width: 1320px;
    }
}