/*
    ------------------------
    ------ Animations ------
    ------------------------
*/

.shape{
    &--hero{
        object{
            animation: spin 12s infinite linear;
        }
    }
}

.hero{
    &__image-container{
        object{
            animation: float 3s infinite ease-in-out;
        }
    }
}

// Spin Animation
@keyframes spin {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(359deg);
    }
}
@keyframes float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0);
    }
}