/*
    ------------------------
    ------ Utilities -------
    ------------------------
*/

// visibility

.hide-for-mobile{
    @include breakpoint-down(medium){
        display: none !important;
    }
}

.hide-for-desktop{
    @include breakpoint-up(large){
        display: none !important;
    }
}

.show-mobile-menu{
    // Displays Mobile Menu when added with JS
    right: 0 !important;
}